.div__question__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    padding: 5%;
    &__quiz{
        text-align: center;
    }
    
   
}
.question{
    color: rgb(182, 66, 12);
    text-align: justify;
    display: flex;
    justify-content: center;
    
    
}
.questions__numbers{
    // background-color: pink;
    padding: 1%;
}
.number__question{
  display: flex;
  margin-bottom: 1%;
  justify-content: center;
  background-color: rgb(63, 61, 61);
  padding: 2%;
  align-items: center;
  box-shadow: 0  6px 6px rgba(182, 181, 177, 0.989);
  &:hover{
     scale: 1.5;
     position: relative; 
     left: 10%;
     top: 20%;
     width: 80%;
     background-color: rgb(57, 57, 55);
     color: rgba(248, 178, 27, 0.88);
     height: 85%;
  }

  &__h3{
    text-align: center;
  }
}
.questions{
 display:flex;
 flex-direction: column;
 margin-top: 1%;
 text-align: center;
 width: 80%;


}
.response__right{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1%;
    gap: 1em;
    //  background-color: pink;
    
}
.quiz__button{
    color:black;
    font-weight: 400;
    width: 90%;
    height: 70px;
    padding: 2%;
    gap: 1em;
    border: none;
    border-radius: .5em;
    margin-top: 1%;
    cursor: pointer;
    // background-color: rgba(248, 178, 27, 0.88);
    // box-shadow: 0 6px 6px 6px rgba(255, 247, 184, 0.989);
    &:hover {
        background-color: #fbd13a;
    }
}
.correct{
    background-color: rgb(185, 142, 235);
    box-shadow:0 2px 6px 4px rgb(235, 219, 252);
    
   
}
.incorrect{
    background-color: rgb(245, 132, 132);
    box-shadow:0 2px 6px 4px rgb(252, 212, 183);
}
.visibility{
    display: none; 
}
.quiz{
     display: flex;
     justify-content: center;
     color: rgb(235, 230, 240);
     background-color: rgb(50, 48, 48);
     margin: 0 auto;
     justify-content: center;
   
   
}
.points0{
    display: flex;
    padding: 20%;
    align-items: center;
    flex-direction: column;
}
.points1{
    display: flex;
    padding: 10%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.points2{
    
    display: flex;
    padding: 20%;
    flex-direction: column;
    align-items: center;

}
.points3{
    display: flex;
    padding: 20%;
    flex-direction: column;   

}
.points__win{
   color:rgb(185, 142, 235)
}
.div__score{
    
    display: flex;
    flex-direction: column;


}
.discount{
    display: flex;
    flex-direction: column;
}
.button__quiz{
    color:black;
    font-weight: 600;
     width: 90px;
    padding: 1em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    background-color: rgba(248, 178, 27, 0.88);
    box-shadow: 0 2px 6px 4px rgba(255, 247, 184, 0.989);
}
.gif{
    width: 50%;
    mix-blend-mode: luminosity;
}
.hello{
border-radius: 10%;
width:25%;
mix-blend-mode: difference;

}
.body{
    mix-blend-mode: difference;
    border-radius: 50%;
    margin: 50px;
}
.link__score{
    text-decoration: none;
    color: white;
    // background-color: pink;
    padding: 1%;
    
}