.bg {
    text-align: center;
    background-image: url(../../assets/images/tentacles.png);  
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15em;
    // display:flex;
}
.notfound__content {
    h1 {
        color: white;
        font-size: 7em;
        margin: 0;
    }
    h2 {
        color: white;
        font-size: 3em;
    }
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    width: 80em;
    margin: 0 auto;
    justify-content: space-between;
    border-radius: 1em;
    align-items: center;
}

.notfound__button {
    width: 15em;
    color: white;
    &:hover {
        transform: scale(1.06);

    }
}
