.flex {
    display: flex;
}

.form {
    flex-direction: column;
    fieldset {
        flex-direction: column;
        input {
        width: 100%;
        height: 50px; 
        overflow: hidden;
        border: 1px solid grey;
       }
    }
}

button {
    margin-top: 10px;
}

.error {
    color: red;
    
}