/* -- START SLIDESHOWCOMPONENT STYLES -- */

.section__slideshow .swiper-slide {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -- END SLIDESHOWCOMPONENT STYLES -- */