.single-message__header {
    background-color: rgb(248, 202, 96);
    text-align: center;
}

.single-message__body {
    display: flex;
    gap: 2em;
    background-color: whitesmoke;
    align-items: center;
}

.single-message__text {
    box-shadow: 0px 5px 5px  #abaaa4;
    padding: 2em;
}

.div__single{

    background-color: rgb(255, 255, 255);
    width: 90%;
    margin: 0 auto;
    padding: 4%;
    display:flex;
    justify-content: center;
    flex-direction: row;
   

}
.div__presentation{
    display: flex;
    text-align:center;
    margin-bottom: 2%;
    padding: 1%;
    background-color: rgba(249, 191, 57, 0.794);
    justify-content: center;
}
.div__img{
    display:flex;
     width: 25%;
     justify-content: center;
     margin: 5%;
    &__image{
        
        max-width: 80%;
        overflow: hidden;
        padding: 2%;
        right: 70%;
        opacity: 0.9;
        
        
    }
   
}
.div__contact{
    display:flex;
    padding: 5%;

}
.link{
    text-decoration: none;
    color: black
    
}
.section__messages__div1{
    display:flex;
    justify-content: center;
    padding: 2%;
    width: 100%;
    flex-direction: column;
    box-shadow: 0px 5px 5px  #abaaa4;
    &:hover{
        scale: 1.05;
        
       }
}
.delete{
    width: 10%;
    left: 90%;
    position: relative;
    background-color: rgb(251, 192, 18);
    // background-color: transparent;
    border-style: none;
    height: 20%;
    padding: 1%;
    &__icon{
    
    
    }
}