.page-title__profile {
    background-image: url('../../../public/assets/images/trapecio.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}