/* -- START HEADERCOMPONENT STYLES -- */

.header {
    background-color: black;

    &__container {
        padding: 1em 0;
    }

    &__logo {
        height: 50px;
    }

    &__nav {
        display: flex;
	    align-items: center;
	    justify-content: space-between;
    }
  }
  /* -- END HEADERCOMPONENT STYLES -- */