/* -- START NAVIGATION STYLES -- */

.header {
  
    &__logo {
        height: 50px;
    }
  
    &__show-menu {
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
  
        .show-menu__bar {
            display: block;
            height: 4px;
            width: 24px;
            background-color: white;
            border-radius: 2px;
            transition: all 0.3s ease-out;
        }
    }
  
    &__main-nav {
        position: absolute;
        top: 0;
        left: 0;
        background-color: whitesmoke;
        transform: translateX(-100%);
        transition: transform 0.5s ease-out;
    }
}
  
  .main-nav {
    &__ul {
      text-align: center;
    }
  
    &__li {
      padding: 2em 0;
      cursor: pointer;
  
      &:hover {
        background-color: rgb(248, 202, 96);
      }
  
      &--login:hover {
        background-color: lightgreen;
      }
  
      &--logout:hover {
        background-color: lightcoral;
      }
    }
  
    &__link {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      color: black;
    }
}
  
body.menu-open {

    .header__main-nav {
        display: block;
        transform: translateX(0);
        z-index: 2;
    }
  
    .show-menu__bar {

        &:nth-child(2) {
            width: 0;
            height: 0;
        }
  
        &:first-child {
            transform: translateY(7px) rotate(45deg);
        }
  
        &:last-child {
            transform: translateY(-7px) rotate(-45deg);
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .header {

    &__main-nav {
      width: 70%;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .header {

    &__main-nav {
      width: 60%;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .header {

    &__main-nav {
      width: 50%;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .header {

    &__main-nav {
      width: 40%;
    }
  }
}
    
/* -- END NAVIGATION STYLES -- */